<!DOCTYPE html>
<html>
{% load static %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>UWI-SHII | {%block title %}{% endblock title%}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'app/css/styles.css'%}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>
    <body>
        <nav id="header">
            <a href="#"><img id="mainlogo" position="fixed" width="150rem" margin="0 0"src="{% static 'app/images/banners/mainlogo.png'%}" alt="UWI-SHII logo" class="logo"></a>
            <ul class="navbar">
                <li><a class="tabs" href="{% url "home"%}">Home</a></li>
                <li><a class="tabs" href="{% url "menu"%}">Menu</a></li>
                <li><a class="tabs" href="{% url "about"%}">About</a></li>
                <li><a class="tabs" href="{% url "jobs"%}">Jobs</a></li>
                <li><a class="tabs" href="{% url "contact"%}">Contact</a></li>
                {% if user.is_authenticated %}
                <li><a class="tabs" href="{% url "shop"%}">Shop</a></li>
                <li><a class="tabs" href="{% url "orders"%}">Orders</a></li>
                {% endif %}

            </ul>
            <div class="icons">
                <div class="fas fa-bars" id="menu-btn"></div>
                <a href="{% url 'cart'%}"><div class="fas fa-shopping-cart" id="cart-btn"></div></a>
                {% if user.is_authenticated %}
                    <button type="submit" id="loginbutton"><a href="{% url 'logout'%}">LOGOUT</a></button>
                {% else %}
                    <button type="submit" id="loginbutton"><a href="{% url 'login'%}">LOGIN</a></button>
                    <button type="submit" id="loginbutton"><a href="{% url 'register_user'%}">REGISTER</a></button>
                {% endif %}
            </div>
        </nav>
        <div id="wmessage">
            {% if messages %}
                {%for message in messages %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert" id="messagetext" >
                        {{message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor%}
            {% endif %}
        </div>
        {% block main-content %}{% endblock main-content %}
        {% block login %}{% endblock login %}
        <footer class="footer">
            <div class="right-note">
                <img id="mainlogo" width="150" margin="10px 0"src="{% static 'app/images/banners/bigletter.png'%}" alt="UWI-SHII logo" class="logo">
                <img width="200" margin="10px 0"src="{% static 'app/images/banners/smallletter.png'%}" alt="UWI-SHII logo" class="logo">
                <p>2989 Recto Ave, Sampaloc, Manila, 1008 Metro Manila</p>
            </div>
            <div class="left-note">
                <a href="#"> Terms and Agreement </a>
                <p>Copyright @ 2023, UWI-SHI</p>
                <p>All rights reserved</p>
            </div>
        </footer>
    <script src="{% static 'app/javascript/script.js'%}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>